<!DOCTYPE html>
<html>
<head>
	<title>Home | Word.Smith. App</title>
</head>
<body>
	<h1>Word.Smith.</h1>
	<h3>Designed to help you learn vocabulary quickly and effectively.</h3>
</body>
</html>





