<div class="modal fade" id="login-basicModal" tabindex="-1" role="dialog" aria-labelledby="login-basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <legend class="sessions-modal-title login-legend" id="myModalLabel">Log In</legend>
      </div>
      <div class="modal-body">
        <%= render 'sessions/form' %>
      </div>
    </div>
  </div>
</div>