<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</span></button>
        <h4 class="signup-modal" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>