

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
    <h3>Flashcards</h3>
    <br>
    <br>
    <thead>
      <tr>
        <th>WORD</th>
        <th>EXAMPLES</th> 
        <th>DEFINITION</th>
      </tr>
    </thead>  
      <tbody>  
        <% @flashcards.each do |flashcard| %>
          <tr>
            <td><%= flashcard.word %></td>
            <td><%= flashcard.examples %></td>
            <td><%= flashcard.definition %></td>
          </tr>
        <% end %> 
      </tbody> 
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to 'New flashcard', new_flashcard_path %>
  </div>
</div>

 



