<div class="all-user-flashcard-row">  
  <h3 class="all-user-flashcards">All User Flashcards</h3>
  <br>
  <p>Take a step toward increasing your vocabulary. Create your own flashcards!&nbsp;&nbsp;&nbsp;<%= link_to 'New flashcard', new_flashcard_path %></p>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 list-container">
      <table class="table table-striped">
      <br>
      <thead>
        <tr>
          <th>WORDS</th>
          <th>EXAMPLES</th> 
          <th>DEFINITIONS</th>
        </tr>
      </thead>  
        <tbody>  
          <% @flashcards.each do |flashcard| %>
            <tr>
              <td width="20%"><%= flashcard.word %></td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <td width="30%"><%= flashcard.examples %></td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <td width="50%"><%= flashcard.definition %></td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
          <% end %> 
        </tbody> 
      </table>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>