<div class="row">
  <div class="col-md-6 col-md-offset-5 search-container">
    <div class="create_flashcard">
        <%= form_tag('/wordnik', :method=>'get') do %>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3>Word Search:</h3> 
          <br>
          <%= text_field_tag('word') %>
          <%= submit_tag('Search') %>
        <% end %>
    </div>
  </div>
</div>


