<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <legend class="user-modal-title signup-legend" id="myModalLabel">Sign Up</legend>
      </div>
      <div class="modal-body">
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>










