<div class="col-md-6 user-flashcards">
  <h3>My Flashcards</h3>
    <% if current_user.flashcards %>
      <% current_user.flashcards.each do |h| %>
        <%= h.word %>
      <% end %>
    <% end %>
</div>


