
@import "bootstrap-sprockets";
@import "bootstrap";



body {

  padding-top: 60px;
  background-color: #B2BFA8;
 
}

h1 {
  font-size: 60px; 
  position: relative;
  text-align: left;
  left: 55px;
}

.navbar-fixed-top {
 background-color: #9BE2EE;
 border-bottom-color :#FFFFFF;
 padding-top: 13px;
 padding-bottom: 13px;
}

.navbar-text {
  position: relative;
  right: 70px;
  font-size: 17px;
}

.center jumbotron {
  background-color: #BFAB99;
}
.form {
 
  font-size: 18px;
}



.error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}










