
@import "bootstrap-sprockets";
@import "bootstrap";


/*
 *= require font-awesome
 */

* {
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  background: url("storytelling.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thicker {

  .quote {
    font-size: 83px;
    font-weight: 900;
    line-height: 96%;
    color: #EC583A;
    .black {
      color: black;
    }
  }
  .quote-author {
    font-size: 45px;
    font-weight: bold;
    line-height: 95%;
    color: #EC583A;
  }
}

  .story-container {
    p {
      font-size: 75px;
      text-align: center;
    }
    img {
      width: 90%;
      height: auto;
    }
  }

body {

  padding-top: 60px;
  // background-color: #FFFFFF;
  background: url("storytelling.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}

h1 {
  font-size: 60px; 
  position: relative;
  text-align: left;
  left: 55px;
}


.links {
  font-family: 'Times New Roman';
  font-size: 15px;
  padding: 15px, 0px, 15px, 25px;
}

$navbar-height: 50px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice


/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  background: #FFFFFF;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255,255,255,0.7);
}
.navbar-default {
  background: #FFFFFF;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar {
  .navbar-container {
    background: #93B1C6;
    background-image: none;
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
  @media (max-width: 767px) {
    background: rgba(255,255,255,0.75);
  } 
}
.navbar-inverse .navbar-nav > li > a {
color: white;
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #22F;

}
ul.nav {
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
    padding-top: $navbar-height;
    height: $navbar-height;
    overflow: hidden;
    .small-logo {
      font-family: 'Lobster Two', cursive;
    }
    
  }

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: $small-logo-padding;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: #FA8B60;
  
  .big-logo-container {
    padding-top: $navbar-height;
    h1 {
      font-family: 'Lobster Two', cursive;
    }
  }
  
  h1 {
    font-size: 4em;
    margin:0;
    padding:0 0 $big-logo-padding 0;
    
    @media (min-width: 400px) { font-size: 4.5em; }
    @media (min-width: 440px) { font-size: 5.5em; }
    @media (min-width: 500px) { font-size: 6.5em; }
    @media (min-width: 630px) { font-size: 7.5em;  }
    @media (min-width: 768px) { font-size: 9em; padding-bottom: $big-logo-padding * 2; }
    @media (min-width: 1200px) { font-size: 12em; }
  }
}
