<!-- Landing Page with everything below the navigation bar -->
<% if flash[:manifesto_modal] %>
<script>
 $('#basicModal').modal('show');
</script>
<% end %>

<% if flash[:login_modal] %>
<script>
 $('#login-basicModal').modal('show');
</script>
<% end %>

<div class="col-md-12 landing-page-container">
  <div class="title">
    <h1>simply&nbsp;vocab</h1>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="explanation row">
  <h3>Why is simply vocab a great choice for your learning needs?</h3><br>
    <div class="col-sm-4 container">
      <p class="circle"><span>It's handy; the flashcards can be accessed on your phone, your tablet, or your computer</span></p>
    </div>  
    <div class="col-sm-4 container">
      <p class="circle"><span>It teaches REAL, everyday English - not a watered-down, simplified version</span></p>
    </div>
    <div class="col-sm-4 container">
      <p class="circle"><span>It's a time - saver;  we make the flashcards so you don't have to</span></p> 
    </div>
<br>
<br>
<br>
<br>
<br> 
<br>
<br>   
</div>
 








